@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
@import "buttons.css";
@import "cards.css";

:root {
	--col1: #25D0EA;
	--col2: rgb(1, 20, 96);
    --col3: #fff;
	--col4: #0f0f0f;
	--col5: #f6feff;
	--font1: "Nunito", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box !important;
}

body {
	background-color: var(--col5);
	overflow-x: hidden !important;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font1);
	font-weight: 500;
}

p, ul, ol, a {
	font-family: var(--font1);
}

a {
	text-decoration: none;
}

/* Navbar Style */

.navbar {
	margin: 0 auto;
	background-color: var(--col1);
	z-index: 9;
}

.nav-link,
.navbar-brand {
	color: var(--col2) !important;
	cursor: pointer;
}

.navbar-brand img {
	width: 185px;
    height: auto;
}

.navbar-toggler {
	color: var(--col1);
}

.nav-link {
	font-family: var(--font1);
	font-size: 16px;
	padding: 0px 3px 0px 3px;
	margin-right: 15px;
}

.nav-link:hover {
	text-decoration: underline solid 1px var(--col2);
}

.nav-icon i {
	color: var(--col2);
	font-size: 20px;
	padding-left: 4px;
	transition: transform 0.5s ease-out;
}

.nav-icon i:hover {
	padding-left: 0px;
	font-size: 24px;
	transform: scale(1.3);
	transition: transform 0.5s ease-in;
}

.nav-icon:nth-child(1) {
	margin-right: 15px;
}

/* navbarToggler Appearance */

@media screen and (max-width: 991px) {
	.navbar-nav {
		margin-top: 10px;
	}

	.nav-link {
		padding-left: 10px;
	}
    
    .nav-item {
		padding-bottom: 7px;
	}
}

@media screen and (max-width: 767px) {
	.navbar .container {
		padding-inline: 0px;
	}

	.navbar-brand {
		margin-left: 16px;
	}

	.navbar-toggler {
		margin-right: 16px;
	}

	.navbar-nav {
		border-top: solid 1px #65010139;
		padding-top: 7px;
	}

	.nav-item {
		padding-left: 12px;
	}

	.nav-link {
		font-size: 18px;
	}
}

/* HERO */

.hero {
	background-image: linear-gradient(rgba(21, 22, 41, 0.863), rgba(1, 20, 96, 0.868)), 
		url("../img/hero-bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat; 
	color: var(--col1);
	font-family: var(--font1);
}

.hero-lt h1 {
    font-size: 68px;
	font-weight: 600;
}

.hero-rt {
	margin-bottom: -28px;
}

.hero-rt img {
    width: auto;
	height: 400px;
}

@media screen and (max-width: 1115px) {
	.hero-lt h1 {
        font-size: 48px;
	}
}

@media screen and (max-width: 991px) {
    .hero-lt {
        padding-bottom: 54px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .hero-lt h1 {
        font-size: 68px;
	}

	.hero-rt {
		margin-left: -20px;
        margin-bottom: -16px;
	}
}

@media screen and (min-width: 768px)and (max-width: 991px) {
	.hero-rt {
        margin-bottom: -24px;
	}
}

@media screen and (max-width: 716px) {
	.hero-lt h1 {
        font-size: 48px;
	}
}

@media screen and (max-width: 562px) {
    .hero .lt {
        padding-left: 4px;
    }
}

@media screen and (max-width: 460px) {
	.hero-lt h1 {
        font-size: 32px;
	}
}

/* STATS */

.stats {
	text-align: center;
}

.stats .stat-num {
	color: var(--col2);
	font-size: 72px;
}

.stats hr {
	border: solid 1px var(--col2);
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	opacity: 28%;
	width: 30%;
}

/* Scroll Effect */

.services {
	scroll-margin-top: 54px; 
}

.about,
.hire,
.ebooks {
	scroll-margin-top: 48px; 
}

.testimonials {
	scroll-margin-top: 96px; 
}

/* ABOUT ME */

.about h1,
.about h3,
.services h1,
.ebooks h1,
.testimonials h1 {
    color: var(--col2);
}

.about .lt h1,
.about .lt h3,
.about .lt p {
	width: 87%;
	margin-left: auto;
}

.about .rt img {
	height: 400px;
	width: auto;
}

@media screen and (max-width: 991px) {
    .about .lt h1,
	.about .lt h3,
	.about .lt p {
		margin-right: auto;
    }

	.about .rt {
		padding-top: 24px;
		text-align: center;
	}
}

/* SERVICES */

.services .sub-hd {
	color: var(--col2);
	letter-spacing: 1px;
	opacity: 30%;
}

/* HIRE ME */

.hire {
	background-color: var(--col2);
	color: var(--col5);
}

/* eBOOKS */

.ebooks p {
	width: 72%;
}

@media screen and (max-width: 767px) {
    .ebooks, 
	.ebooks p, 
	.ebooks a {
        text-align: center;
		margin-left: auto;
		margin-right: auto;
    }
}

@media screen and (max-width: 991px) {
	.ebooks p {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
	.ebooks p {
        width: 78%;
    }
}

@media screen and (max-width: 400px) {
	.ebooks p {
        width: 87%;
    }
}

/* Footer */

footer {
	background-color: var(--col2);
	color: var(--col3);
}

footer .name,
footer p,
footer ul li a,
footer .social a i {
	font-family: var(--font1);
    color: var(--col5);
}

footer ul li a:hover {
	text-decoration: underline solid 1px var(--col3);
    transition: 0.5s;
}

footer .social a i:hover {
    color: var(--col1);
    transition: 0.5s;
}

footer hr {
    width: 87%;
}

.copyright,
.copyright a{
    color: var(--col5);
	font-family: var(--font1);
}

.copyright a {
	text-decoration: underline solid 1px var(--col3);
}

/* Plus ...... */

/* .slick-dots {
	margin-bottom: -144px;
} */